<div class="card ecommerce-card">
    <div class="item-img text-center">
        <a href="app-ecommerce-details.html">
          <%= image_tag '1.png', class: "img-fluid card-img-top", alt: "img-placeholder" %>
        </a>
    </div>
    <div class="card-body">
        <div class="item-wrapper">
            <div class="item-rating">
                <ul class="unstyled-list list-inline">
                    <li class="ratings-list-item"><i data-feather="star" class="filled-star"></i></li>
                    <li class="ratings-list-item"><i data-feather="star" class="filled-star"></i></li>
                    <li class="ratings-list-item"><i data-feather="star" class="filled-star"></i></li>
                    <li class="ratings-list-item"><i data-feather="star" class="filled-star"></i></li>
                    <li class="ratings-list-item"><i data-feather="star" class="unfilled-star"></i></li>
                </ul>
            </div>
            <div>
                <h6 class="item-price"><%= product.price %></h6>
            </div>
        </div>
        <h6 class="item-name">
            <a class="text-body" href="app-ecommerce-details.html">
              <%= link_to product.name, product_path(product) %></a>
            <span class="card-text item-company">By <a href="javascript:void(0)" class="company-name">Apple</a></span>
        </h6>
        <p class="card-text item-description">
            <%= truncate(strip_tags(product.desc), length: 600) %>
        </p>
    </div>
    <div class="item-options text-center">
        <div class="item-wrapper">
            <div class="item-cost">
                <h4 class="item-price"><%= product.price %></h4>
            </div>
        </div>
        <a href="javascript:void(0)" class="btn btn-light btn-wishlist">
            <i data-feather="heart"></i>
            <span>Yeu thich</span>
        </a>
        <a href="javascript:void(0)" class="btn btn-primary btn-cart">
            <i data-feather="shopping-cart"></i>
            <span class="add-to-cart">Add to cart</span>
            <!--  (Da ban het thi khong dc them) -->
        </a>
    </div>
</div>
